
**/*.dcu
**/__history/**
**/*.identcache
**/*.dproj.local
HBuilder/DFM2HTML.drc
HBuilder/DFM2HTML.exe
HBuilder/DFM2HTML.map
HBuilder/DFM2HTML.log
HBuilder/CreateInstall/**
HBuilder/dfm2html.report/**
